{% extends 'home/home-page-base.html' %}
{% load static %}

{% block meta_tags %}
{% endblock %}

{% block css_files %}
{% endblock %}

{% block content %}
    <div class="container shadow">
        <div class="row">
            <div class="col-md-12"><h1 class="vazir-bold text-center">{{ title }}</h1></div>
            <div class="col-md-12">
                <img src="{{ sender.avatar }}" width="50px">
                <span>{{ sender.first_name }} {{ sender.last_name }}</span>
                <span>{{ update_date }}</span>
            </div>
            <div class="col-md-12"><img src="{{ image }}"></div>
            <div class="col-md-12">
                {% autoescape off %}
                {{ text }}
                {% endautoescape %}
            </div>

        </div>
    </div>
{% endblock %}


{% block js_files %}
{% endblock %}