{% extends 'home/home-page-base.html' %}
{% load static %}

{% block meta_tags %}
{% endblock %}

{% block css_files %}
{% endblock %}

{% block content %}
    <div class="container shadow">
        <div class="row">
            <div class="col-md-12"><h1 class="vazir-bold text-center">تیتر خبر</h1></div>
            <div class="col-md-12">
                <img src="/static/home/images/home-page/icons/default_profile.svg" width="50px">
                <span>نام و نام خانوادگی</span>
                <span>۱ آبان ۱۳۹۹</span>
            </div>
        </div>
    </div>
{% endblock %}


{% block js_files %}
{% endblock %}