<!DOCTYPE html>
<html lang="en" dir="rtl">
  {% load static %}
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=width-device, initial-scale=1">

    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static "home/css/fonts.css" %}">
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css" integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "home/css/style.css" %}">

    <title></title>
  </head>
  <body>

    <!-- Header -->
    <header>

      <div class="header">

        <div class="header-overlay">

          <div class="container header-container">

            <div class="row">

              <div class="col-md-12">

                <!-- Text & Descriptions -->
                <div class="header-text">

                  <h1>همین امروز پیشگامی شو</h1>
                  <p> در صورت داشتن حساب وارد شوید </p>

                </div>

                <div class="header-btns">

                  <!-- Buttons -->
                  <a class="btn btn-signup" href="#"> ثبت نام </a>
                  <a class="btn btn-login" href="#">ورود</a>

                  </div>

                </div>


              </div>

            </div>

          </div>

        </div>

      </div>
    </header>

    <!-- Posts -->
    <section>

      <div class="container">

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner">

            <div class="carousel-item active">

              <div class="row">

                <div class="col-md-4 post-transition">

                  <div class="post-transition-items">

                    <img class="post-transition-img" src="static/home/images/image1.jpg"></img>

                    <div class="post-transition-text">
                      <h1>پانسیون مطالعاتی ویژه امتحانات دی ماه ۹۸</h1>
                      <p>📆 تاریخ: از دوشنبه ۲ دی ماه الی پنج‌شنبه ۵ دی ماه </p>
                      <p>🚸مکان: نازی اباد ، خیابان شیرمحمدی ، جنب خیابان احدی ، حسینیه موسی بن جعفر ، ساختمان پیشگام</p>
                    </div>

                    <div class="post-transition-btn">

                      <a class="btn btn-more-see" href="#"> ادامه مطلب</a>

                    </div>

                  </div>

                </div>

                <div class="col-md-4 post-transition">

                  <div class="post-transition-items">

                    <img class="post-transition-img" src="static/home/images/image2.jpg"></img>

                    <div class="post-transition-text">
                      <h1> جلسه هم‌اندیشی اولیای پیشگام  </h1>
                      <p>📆جمعه ۶ دی ما ساعت ۱۰ الی 13 </p>
                      <p>👨‍🏫 دوره‌های ۱ تا ۵</p>
                    </div>

                    <div class="post-transition-btn">

                      <a class="btn btn-more-see" href="#"> ادامه مطلب</a>

                    </div>

                  </div>

                </div>

                <div class="col-md-4 post-transition">

                  <div class="post-transition-items">

                    <img class="post-transition-img height:60%" src="static/home/images/images3.jpg"></img>

                    <div class="post-transition-text">
                      <h1>  🏖 اردوی تفریحی شهرک سینمایی </h1>
                      <p>ویژه دوره های 1 تا 6</p>
                      <p> 📆 پنج شنبه ۲۳ و جمعه ۲۴ آبـان </p>
                      <p>⏰حرکت:  ساعت ۱۳:۳۰</p>
                    </div>

                    <div class="post-transition-btn">

                      <a class="btn btn-more-see" href="#"> ادامه مطلب</a>

                    </div>

                  </div>

                </div>

              </div>

            </div>

            <!-- Post Two -->
            <div class="carousel-item">

              <div class="row">

                <div class="col-md-4 post-transition">

                  <div class="post-transition-items">

                    <img class="post-transition-img" src="static/home/images/pishgam_home_icon.jpg"></img>

                    <div class="post-transition-text">
                      <h1>پانسیون مطالعاتی ویژه امتحانات دی ماه ۹۸</h1>
                      <p>📆 تاریخ: از دوشنبه ۲ دی ماه الی پنج‌شنبه ۵ دی ماه </p>
                      <p>🚸مکان: نازی اباد ، خیابان شیرمحمدی ، جنب خیابان احدی ، حسینیه موسی بن جعفر ، ساختمان پیشگام</p>
                    </div>

                    <div class="post-transition-btn">

                      <a class="btn btn-more-see" href="#"> ادامه مطلب</a>

                    </div>

                  </div>

                </div>

                <div class="col-md-4 post-transition">

                  <div class="post-transition-items">

                    <img class="post-transition-img" src="static/home/images/about_us_background.jpg"></img>

                    <p> اردوی مشهد </p>

                    <a class="btn post-transition-btn" href="#"></a>

                  </div>

                </div>

                <div class="col-md-4 post-transition">

                  <div class="post-transition-items">

                    <img class="post-transition-img" src="static/home/images/home_background.jpg"></img>

                    <p> اردوی مشهد </p>

                    <a class="btn post-transition-btn" href="#"></a>

                  </div>

                </div>

              </div>

            </div>

            <!-- Post 3 -->

            <div class="carousel-item">

              <div class="row">

                <div class="col-md-4 post-transition">

                  <div class="post-transition-items">

                    <img class="post-transition-img" src="static/home/images/pishgam_home_icon.jpg"></img>

                    <div class="post-transition-text">
                      <h1>پانسیون مطالعاتی ویژه امتحانات دی ماه ۹۸</h1>
                      <p>📆 تاریخ: از دوشنبه ۲ دی ماه الی پنج‌شنبه ۵ دی ماه </p>
                      <p>🚸مکان: نازی اباد ، خیابان شیرمحمدی ، جنب خیابان احدی ، حسینیه موسی بن جعفر ، ساختمان پیشگام</p>
                    </div>

                    <div class="post-transition-btn">

                      <a class="btn btn-more-see" href="#"> ادامه مطلب</a>

                    </div>

                  </div>

                </div>

                <div class="col-md-4 post-transition">

                  <div class="post-transition-items">

                    <img class="post-transition-img" src="static/home/images/pishgam_home_icon.jpg"></img>

                    <div class="post-transition-text">
                      <h1>پانسیون مطالعاتی ویژه امتحانات دی ماه ۹۸</h1>
                      <p>📆 تاریخ: از دوشنبه ۲ دی ماه الی پنج‌شنبه ۵ دی ماه </p>
                      <p>🚸مکان: نازی اباد ، خیابان شیرمحمدی ، جنب خیابان احدی ، حسینیه موسی بن جعفر ، ساختمان پیشگام</p>
                    </div>

                    <div class="post-transition-btn">

                      <a class="btn btn-more-see" href="#"> ادامه مطلب</a>

                    </div>

                  </div>

                </div>

                <div class="col-md-4 post-transition">

                  <div class="post-transition-items">

                    <img class="post-transition-img" src="static/home/images/pishgam_home_icon.jpg"></img>

                    <div class="post-transition-text">
                      <h1>پانسیون مطالعاتی ویژه امتحانات دی ماه ۹۸</h1>
                      <p>📆 تاریخ: از دوشنبه ۲ دی ماه الی پنج‌شنبه ۵ دی ماه </p>
                      <p>🚸مکان: نازی اباد ، خیابان شیرمحمدی ، جنب خیابان احدی ، حسینیه موسی بن جعفر ، ساختمان پیشگام</p>
                    </div>

                    <div class="post-transition-btn">

                      <a class="btn btn-more-see" href="#"> ادامه مطلب</a>

                    </div>

                  </div>

                </div>

              </div>

            </div>

          </div>
        </div>
      </div>
    </section>

    <!-- About us -->
    <!--
    <div class="container about-us-container">

      <div class="row">

        <div class="col-md-12 about-us-title">

            <h1>درباره ما</h1>

        </div>

      </div>

      <div class="row">

        <div class="col-md-6">

          <div class="col-md-1 icon">


          </div>
          <div class="col-md-5">

            <p>توضیحات درباره ی ما</p>

          </div>

        </div>


        <div class="col-md-6">



        </div>




      </div>


    </div>
  -->

    <footer class="footer">

      <div class="container">

        <!-- First Row About us-->
        <div class = "row">

          <!-- Logo Footer-->
          <div class = "col-md-4 logo_footer">

              <img src="{% static "home/images/pishgam_home_icon.jpg"%}">

          
          </div>
          <!-- Quick Access Links-->
          <div class = "col-md-4 qa_links">

              <ul>
                <li> صفحه ی اصلی </li>
                <li> کاربران </li>
                <li> درباره ی ما </li>
                <li> تماس با ما </li>
              </ul>

          </div>

          <!-- About us -->

          <div class = " col-md-4 about_us_footer">

            <p> 

          </div>

        </div>

        <div class = "row">

          <!-- social media -->
          <div class = "col-md-12 social_media">

            

          </div>


        </div>


      </div>

    </div>

    </footer>

    <!-- Bootstrap & JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.rtlcss.com/bootstrap/v4.2.1/js/bootstrap.min.js" integrity="sha384-a9xOd0rz8w0J8zqj1qJic7GPFfyMfoiuDjC9rqXlVOcGO/dmRqzMn34gZYDTel8k" crossorigin="anonymous"></script>

  </body>
</html>
