/* Scroll Bar CSS */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #ffc109;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #FAFAFA;
    font-family: 'Yekan', 'Yekan-Number', 'Vazir_Light', 'Vazir_Bold', 'Vazir_Medium', sans-serif;
}


.vazir-bold {
    font-family: "Vazir_Bold", sans-serif;
}

.vazir-medium {
    font-family: "Vazir_Medium", sans-serif;
}

.vazir-light {
    font-family: "Vazir_Light", sans-serif;
}

.desktop-version {
    position: relative;
    background-image: url("../images/home-page/poster.svg");
    background-color: #fafafa;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: right;
    height: 660px;
}

.header-description {
    position: absolute;
    left: 20%;
    top: 30%;
}

.float {
    margin-left: -1px !important;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Vazir_bold';
    color: #00204E;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
    font-family: 'Vazir_Bold';
    color: #ffc109;
}

p {
    font-family: 'Vazir_Medium';
    color: #00204E;
}

.p {
    font-family: 'Vazir_Light';
    color: #ffc109;
}

.h-header-desktop {
    font-size: 55px;
}

.h-header-mobile {
    font-size: 35px;
}

.h-tabbesh {
    margin-top: 15px !important;
}

.btn-header {
    font-family: 'Vazir_Medium';
    padding: 10px 25px 10px 25px !important;
    margin: 0 20px 0 0;
    border-radius: 15px !important;
}

.box-card {
    height: 190px;
    border-radius: 8px;
    background-color: white;
    border-style: solid;
    border-color: #00204E #ffc109 #00204E #ffc109;
    padding: 0.5rem;
    margin: 0px 0px 0px 0px !important;
}

/* flip card style
.flip-card {
    background-color: transparent;
    height: 200px;
    border: 1px solid #f1f1f1;
    border-radius: 15px;
    perspective: 1000px;
}

.flip-card-inner {
    border-radius: 15px;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    border-radius: 15px;
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    border-radius: 15px;
    background-color: #bbb;
    color: black;
    transform: rotateY(180deg);
} */

.img-circle {
    background-image: url("../images/home-page/circle.svg");
    z-index: -1;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90rem;
}

.card-teacher {
    background-color: white;
    border-radius: 15px;
    margin: 0 0 50px 0 !important;
}

.card {
    border: 1px solid #00204E !important;
    border-radius: 10px !important;
}

.img-card {
    border-radius: 10px 10px 0 0;
    padding: auto;
    margin: auto;
    width: 100%;
}

hr {
    height: 1px;
    background-color: #00204E;
}

.hr {
    height: 5px;
    background-color: #00204E;
    z-index: -1 !important;
}

.hr-footer {
    height: 6px;
    background-color: #ffc109;
}

.counters-img {
    z-index: -1;
}

.h-counters {
    margin-top: -21px;
}

.course {
    margin-top: -55px;
    text-align: center;
    background-color: #FAFAFA;
    color: #ffc109;
    padding: 10px;
}

.discount-red-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #dc3545;
    border: 1px #707070;
    border-radius: 50% 50%;
    left: 20px;
    top: -35px;
    width: 75px;
    height: 75px;
    font-size: 25px;
}


.comment {
    margin-top: 100px;
}

.footer-items {
    margin: 80px 50px 0 0;
}

.footer-logo {
    margin: 180px 50px 0 0;
}

/* change css of prev & next in owl carousel */
.owl-prev {
    position: absolute;
    right: -40px;
    top: 45%;
}

.owl-next {
    position: absolute;
    left: -40px;
    top: 45%;
}

.owl-next:focus,
.owl-prev:focus,
.owl-dot:focus {
    outline: none;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background-color: transparent !important;
}

.owl-dot span {
    height: 12px !important;
    width: 12px !important;
    background: #00204E !important;
}

.owl-dot.active span {
    background: #ffc109 !important;
}

.blockquote {
    background-color: white;
    border: 2px solid #00204E;
    border-radius: 0 25px 0 25px;
    padding: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 3rem !important;
    width: 70% !important;
    height: 100% !important;
    box-shadow: 10px 10px 0px #ffc109;
}

.btn-submit {
    border-radius: 15px !important;
}

@media only screen and (max-width: 768px) {
    .desktop-version {
        display: none;
    }

    .comment-sm-size {
        font-size: 18px;
        text-align: center;
        overflow-y: scroll;
        max-height: 200px;
        margin-right: 0px;
    }

    .comment-icon {
        display: none !important;
    }

    ::-webkit-scrollbar {
        all: unset;
    }

    ::-webkit-scrollbar-track {
        all: unset;
    }

    ::-webkit-scrollbar-thumb {
        all: unset;
    }

}

@media only screen and (min-width: 768px) {
    .mobile-version {
        display: none;
    }
}

@media (max-width: 576px) {
    .footer-items {
        margin: 50px 0 0 0;
    }

    .footer-logo {
        margin: 50px 0 0 0;
    }

    .counter-margin {
        margin-right: 70px !important;
    }

    .mobile-font {
        font-size: 25px;
    }

    .mobile-img {
        width: 35px;
    }

    .why-img {
        width: 50px;
    }

    .why-margin {
        margin: 0 40px 0 40px;
    }

    .counter-img {
        width: 45px;
    }

    .counters-img {
        width: 150px;
    }

    .img-circle{
        background-image: none;
    }

    #slideList .owl-prev {
        display: none;
    }

    #slideList .owl-next {
        display: none;
    }
}

.owl-carousel {
    touch-action: manipulation;
}


/* icons of comment */
.comment-icon {
    position: absolute;
    top: -50px;
}

/* tabbesh packages */
.first-class-card {
    height: 400px !important;
    width: 85%;
    margin: 20px 20px;
    border: 2px solid black;
    border-radius: 10px !important;
    box-shadow: 10px 10px 0px #1982BF;
}

.first-class-h {
    color: #1982BF;
    font-family: 'IRANSans';
    text-align: center;
}

.btn-first-class {
    background-color: #1982BF;
    color: white;
}

.gold-card {
    height: 400px !important;
    width: 85%;
    margin: 20px 20px;
    border: 2px solid black;
    border-radius: 10px !important;
    box-shadow: 10px 10px 0px #FFC20E;
}

.gold-h {
    color: #FFC20E;
    font-family: 'IRANSans';
    text-align: center;
}

.silver-card {
    height: 400px !important;
    width: 85%;
    margin: 20px 20px;
    border: 2px solid black;
    border-radius: 10px !important;
    box-shadow: 10px 10px 0px #6C757D;
}

.silver-h {
    color: #A6A6A4;
    font-family: 'IRANSans';
    text-align: center;
}

.btn-silver {
    background-color: #A6A6A4;
    color: white;
}
