<!DOCTYPE html>
<html lang="en" dir = "rtl">
<head>

    {% load static %}
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ثبت نام</title>

    <!-- CSS Files -->

    <link rel="stylesheet" type="text/css" href="{% static "home/css/fonts.css" %}">
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css" integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "signup/css/style.css" %}">

</head>

<body>

<div class = "" >
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">پیشگامی شو</h5>
            <form class="form-signin" method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
              <div class="form-label-group">
                <input type="text" name = "username" id="inputUserame" class="form-control" placeholder="Username" required autofocus>
                <label for="inputUserame">نام کاربری</label>
              </div>

              <div class="form-label-group">
                <input type="email" name = "email" id="inputEmail" class="form-control" placeholder="Email address" required>
                <label for="inputEmail">ایمیل</label>
              </div>
              
              <hr>

              <div class="form-label-group">
                <input type="password" name = "password" id="inputPassword" class="form-control" placeholder="Password" required>
                <label for="inputPassword">رمز عبور</label>
              </div>
              
              <div class="form-label-group">
                <input type="password" name = "password2" id="inputConfirmPassword" class="form-control" placeholder="Password" required>
                <label for="inputConfirmPassword">تکرار رمز عبور</label>
              </div>
              {% comment %} <div class="form-label-group">
              <select id="id_city" name="city">
              {% for element in form.fields.city.queryset %}
              <option value="{{ element.id }}">{{element.title }}</option>
              {% endfor %}
              
             </select> 

              </div> {% endcomment %}

              <button class="btn btn-lg btn-primary btn-block " type="submit"><p class="sign-btn">ثبت نام </p></button>
              <a class="d-block text-center mt-2 small" href="{% url 'signin' %}">حساب کاربری دارید! وارد شوید.</a>
              <hr class="my-4">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <!-- JS files -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://cdn.rtlcss.com/bootstrap/v4.2.1/js/bootstrap.min.js" integrity="sha384-a9xOd0rz8w0J8zqj1qJic7GPFfyMfoiuDjC9rqXlVOcGO/dmRqzMn34gZYDTel8k" crossorigin="anonymous"></script>
    
</body>
</html>