<!doctype html>
<html lang="en" dir="rtl">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Sign up page">
    <meta name="author" content="Taabesh website">
    <title>ثبت نام</title>
    <!-- CSS Files -->
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css"
        integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
    <script src="{% static 'dashboard/js/jquery-3.3.1.slim.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'signup/css/signup.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/fonts.css' %}">
</head>

<body class="text-center">
    <!-- Form of sing up page -->
    <form class="form-signup" method="POST" action="{% url 'signup' %}">
        {% csrf_token %}
        <!-- Content of sign up page -->
        <div class="container mt-3">
            <!-- Header of sign up -->
            <div class="row mb-4">
                <div class="col-md-4">
                    <img class="avatar" src="{% static 'signup/images/avatar.png' %}"> </img>
                </div>
                <div class="col-md-8">
                    <h1 class="title">ثبت نام</h1>
                </div>
            </div>
            <!-- Name & Gender field -->
            <div class="row mb-2">
                <!-- Name field -->
                <div class="field-label col-md-2">
                    <label for="first_name">نام</label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="first_name" name="first_name" required>
                </div>
                <!-- Gender field -->
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 field-label">
                            <label>جنسیت</label>
                        </div>
                        <!-- Radio buttons -->
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-6 custom-radio custom-control-inline">
                                    <span> پسر </span>
                                    <input type="radio" class="custom-control-input" id="gender_boy" name="gender"
                                        value="True" checked="checked">
                                    <label class="custom-control-label yellow " for="gender_boy"></label>
                                </div>
                                <div class="col-md-6 custom-radio custom-control-inline">
                                    <span> دختر </span>
                                    <input type="radio" class="custom-control-input" id="gender_girl" name="gender"
                                        value="False">
                                    <label class="custom-control-label yellow" for="gender_girl"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Last name field -->
            <div class="row mb-2">
                <div class="col-md-2 field-label">
                    <label for="last_name">نام خانوادگی</label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="last_name" name="last_name" required>
                </div>
                <p id="name_message" style="color: #7c0001"></p>
            </div>
            <!-- Username field -->
            <div class="row mb-2">
                <div class="col-md-2 field-label">
                    <label for="username">نام کاربری</label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="username" name="username" required>
                </div>
                <p id="username_message" style="color: #7c0001"></p>

            </div>
            <!-- Password1 field -->
            <div class="row mb-2">
                <div class="col-md-2 field-label">
                    <label for="password">رمز عبور</label>
                </div>
                <div class="col-md-4">
                    <input type="password" id="password" name="password" required>
                </div>
            </div>
            <!-- Password2 field -->
            <div class="row mb-3">
                <div class="col-md-2 field-label ml-0 pr-0">
                    <label for="password2">تکرار رمز عبور</label>
                </div>
                <div class="col-md-4">
                    <input type="password" id="password2" name="password2" required>
                </div>
                <p id="password_message" style="color: #7c0001"></p>

            </div>
            <!-- Grade field -->
            <div class="row mb-2">
                <div class="col-md-2 field-label">
                    <label for="grade">پایه</label>
                </div>
                <div class="col-md-4">
                    <select data-placeholder="پایه تحصیلی" class="grade-choicen" tabindex="4">
                        <option value=""></option>
                        {% for element in form.fields.grades.queryset %}
                        <option value="{{ element.id }}">{{ element.title }}</option>
                        {% endfor %}
                    </select>

                </div>
            </div>
            <!-- Phone number field -->
            <div class="row mb-4 ">
                <div class="col-md-2 field-label">
                    <label for="defaultInline10">شماره تماس</label>
                </div>
                <div class="phone-number-field col-md-10">
                    <!-- pattern check phone number is valid or not -->
                    <input type="text" class="phone-number" pattern="[9][0-9]{9}" id="defaultInline10"
                        name="phone_number">
                    <input type="text" value="+98" class="area-code" readonly>
                    <p>نکته : شماره تلفن را بدون صفر وارد کنید . مثال : 9121111111</p>
                </div>
            </div>
            <button id="submit" class="btn btn-lg btn-warning btn-block sign-up-button" type="submit">ثبت نام</button>
            <p id="message" style="color: #7c0001"></p>
            {% if form.error %}
            <p style="color: #7c0001">{{ form.error }}</p>
            {% endif %}
        </div>
    </form>
    {% block JSfile %}
    <script src="{% static 'signup/js/signup.js' %}"></script>
    <script src="{% static 'home/chosen/js/jquery-3.2.1.min.js' %}"></script>
    {% endblock %}
</body>

</html>