<!doctype html>
<html lang="en" dir="rtl">
{% load static %}

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="Sign in page">
   <meta name="author" content="Taabesh website">
   <title>ورود</title>
   <!-- CSS Files -->
   <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css"
      integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
   <script src="{% static 'dashboard/js/jquery-3.3.1.slim.min.js' %}"></script>
   <link rel="stylesheet" href="{% static 'signin/css/signin.css' %}">
   <link rel="stylesheet" href="{% static 'home/css/fonts.css' %}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>

<body class="text-center">
   <form class="form-signin" method="POST" action="{% url 'signin' %}">
      {% csrf_token %}
      <h1 class="title">ورود</h1>
      <div class="container">
         <!-- Email OR Username Input -->
         <div class="row" style="margin:10px">
            <p> نام کاربری یا شماره تلفن</p>
            <input type="username" id="username" name="username" class="form-control"
               placeholder="شماره تلفن یا نام کاربری خود را وارد کنید ..." required autofocus>
         </div>
         <!-- Password Input -->
         <div class="row" style="margin:10px; margin-bottom:20px">
            <p> رمز عبور </p>
            <input type="password" id="inputPassword" name="password" class="form-control"
               placeholder="رمز عبور خود را با دقت وارد کنید ..." required style="background-color:#BEBEBD">
         </div>
      </div>
      <button id="submit" class="btn btn-lg btn-warning btn-block sign-in-button" type="submit">ورود</button>
      <p class="footer-p mt-2 mb-3"> حساب کاربری ندارید؟ <span><a href="{% url 'signup' %}">ثبت نام کنید</a></span></p>
      {% if error %}
      <small class="form-text mb-1 mt-n1 mt-n3" style="font-family: 'Vazir_Bold'; color: #9d0b0b;">
         <i class="fas fa-exclamation-triangle"></i>
         {{error}}
      </small>
      <p class="footer-p-forget"><span><a href="{% url 'signup' %}">در صورت فراموشی رمز کلیک کنید</a></span></p>
      {% endif %}
      {% if signup_success %}
      <small class="form-text mb-1 mt-n2" style="font-family: 'Vazir_Bold'; color: white;">
         <i class="fas fa-info-circle"></i>
         {{signup_success}}
         <br>
         <i class="fas fa-envelope"></i>
         رمز عبور به شماره تلفن پیامک داده شد
      </small>
      {% endif %}
   </form>
   {% block JSfile %}
   <script src="{% static 'signin/js/signin.js' %}"></script>
   {% endblock %}

</body>

</html>