
/* font css */

@font-face {
  font-family: 'Vazir_Light';
  src: url('../fonts/Vazir/Vazir-Light.woff2') format('woff2'),
         url('../fonts/Vazir/Vazir-Light.woff') format('woff'),
         url('../fonts/Vazir/Vazir-Light.ttf') format('truetype');
}


@font-face {
  font-family: 'Vazir_Bold';
  src: url('../fonts/Vazir/Vazir-Bold.woff2') format('woff2'),
         url('../fonts/Vazir/Vazir-Bold.woff') format('woff'),
         url('../fonts/Vazir/Vazir-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Vazir_Medium';
  src: url('../fonts/Vazir/Vazir-Medium.woff2') format('woff2'),
         url('../fonts/Vazir/Vazir-Medium.woff') format('woff'),
         url('../fonts/Vazir/Vazir-Medium.ttf') format('truetype');
}
