* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Vazir_Light" , sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

p {
  font-size: 14px;
}
/* ===== Headers ====*/
.header {
  background-image: url('../images/home_background.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
/* Head Overlay
.header-overlay {
  background-color: rgba(31, 31, 31, 0.75);
} */
.logo {
  padding: 50px;
}
.header-text {
  margin-top : 200px;
  text-align: center;
}
.header-text h1 {
  font-family: "Vazir_Bold";
  font-size : 50px;
}
.header-text p {
  font-family: "Vazir_Light";
  font-size : 20px;
}
.header-btns {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;

}
.btn-signup,
.btn-signup:focus,
.btn-signup:active,
.btn-signup:visited
{
  background-color: #c0c0c0;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
   -o-transition: all 1s;
   margin-left: 40px;
}
.btn-signup:hover {
    background-color: #686868;
    color : #fff;
}
.btn-login,
.btn-login:focus,
.btn-login:active,
.btn-login:visited
{
  background-color: #c0c0c0;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
   -o-transition: all 1s;
}
.btn-login:hover {
    background-color: #686868;
    color : #fff;
}


/* ======= Posts ======= */
.post-transition{
  margin-top: 20px;
  height: 600px;
}
.post-transition-items{
  height: 100%;
  background-color: #c0c0c0;
  border-radius: 6px;
}
.post-transition-img{
  width: 100%;
  height: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right:  10px;
  padding-left: 10px;
  border-radius: 8px;
}
.post-transition-text{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right:  10px;
  padding-left: 10px;
}
.post-transition h1{
  font-family: "Vazir_Bold";
  font-size: 20px;
}
.post-transition p{
  font-family: "Vazir_Light";
  font-size: 15px;
}
.post-transition-btn{
  position:absolute;
  bottom:0;
  left : 20px;
  font-family: "Vazir_Bold";
  font-size: 20px;
}
.btn-more-see,
.btn-more-see:focus,
.btn-more-see:active,
.btn-more-see:visited
{
  background-color: #686868;
  color:#fff;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
   -o-transition: all 1s;
   margin-left: 20px;
   margin-bottom: 20px;
}
.btn-more-see:hover {
    background-color: #686868;
    color : #fff;
}
.carousel-indicators {
    margin-bottom: -25px;
}
.carousel-indicators li {
   background-color:#000000;
}
.carousel-inner {
   margin-bottom:10px;
}

/* ====== About Us ======= */
.about-us-container{
  margin-top: 20px;
}
.about-us-title {
  margin : 5px;
  text-align: center;
}
.about-us-title h1{
  padding: 5px;
  font-family: "Vazir_Bold";
  font-size : 40px ;
  color : #13538B ;
}


/* ======= Footer ====== */

.footer {
  margin-top: 50px;
  height: 15%;
  padding: 25px;
  bottom: 0px;
  width: 100%;
  position: relative;
  background-color: #686868;
}
.logo_footer {
  text-align: center;
  height: 125px;
}
.logo_footer img{
  height: 150px;
  width: 150px;
}
.qa_links {
  text-align: center;
  height: 125px;
  font-size: 14px;
  font-family: 'Vazir_Light';
  color: #fff;
}
.qa_links li{
  list-style-type: none;
}
.about_us_footer {
  height: 125px;
  text-align: center;
  font-size: 14px;
  font-family: 'Vazir_Light';
  color: #fff;
}
.social_media {
  height: 25px;
  text-align: center;
}
.social_media img{
  height: 25px;
  width: 25px;
}

/* ===== Navbar ==== */
.navbar-custom {
  font-family: 'Vazir_Bold' ;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0);
  z-index: 110;
}
.nav-item {
  margin-left: 20px;
}
.color-me {
  color: #fff;
}