<!DOCTYPE html>
<html lang="en" dir = 'rtl'>
  <head>
      <meta charset="utf-8">
      <title>نمایه</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% load staticfiles %}
      <!-- CSS Files -->

      <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css" integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{% static "dashboard/css/profile.css" %}">
      <link rel="stylesheet" type="text/css" href="{% static "home/css/fonts.css" %}">
      <style type="text/css">
        body{
           margin-top:20px;
           background:#f8f8f8
      }
      </style>
 
  </head>
  <body>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container">
  <div class="row flex-lg-nowrap">
    <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
      <div class="card p-3">
        <div class="e-navlist e-navlist--active-bg">
          <ul class="nav">
            <li class="nav-item"><a class="nav-link px-2 active" href="./overview.html"><i class="fa fa-fw fa-bar-chart mr-1"></i><span>داشبورد</span></a></li>
            <li class="nav-item"><a class="nav-link px-2" href="./users.html"><i class="fa fa-fw fa-th mr-1"></i><span>خرید</span></a></li>
            <li class="nav-item"><a class="nav-link px-2" href="./settings.html"><i class="fa fa-fw fa-cog mr-1"></i><span>تنظیمات</span></a></li>
          </ul>
        </div>
      </div>
    </div>

        <div class="col-12 col-md-3 mb-3">
          <div class="card mb-3">
            <div class="card-body">
              <div class="px-xl-3">
                <form method="POST" action ="{% url 'signout' %}">
                {% csrf_token %}
                  <button class="btn btn-block btn-secondary" type="submit">
                    <i class="fa fa-sign-out"></i>
                    <span>خروج</span>
                  </button>
                </form>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h6 class="card-title font-weight-bold">حمایت</h6>
              <p class="card-text">نیاز به کمک داری دکمه ی زیر رو فشار بده.</p>
              <button type="button" class="btn btn-primary">تماس با ما</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  </div>

  <script src="https://cdn.rtlcss.com/bootstrap/v4.2.1/js/bootstrap.min.js" integrity="sha384-a9xOd0rz8w0J8zqj1qJic7GPFfyMfoiuDjC9rqXlVOcGO/dmRqzMn34gZYDTel8k" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="{% static "dashboard/js/profile.js" %}">
    
  </script>
  </body>
</html>