{% extends 'dashboard/base.html' %}
{% load static %}
{% load rest_framework %}

<!-- Title block of base.html -->
{% block title %}پروفایل{% endblock %}

<!-- CSS files -->
{% block CSSfiles %}
    <link rel="stylesheet" href="{% static 'dashboard/css/profile_page.css' %}">
{% endblock %}

<!-- Content of page -->
{% block content %}
    <div class="container">
        <h1 class="vazir-medium">پروفایل</h1>
        <hr>
        <div class="row">
            <!-- right column -->
            <div class="col-md-3 text-center">
                <!-- Change avatar form & enctype requried for file input -->
                <form class="form-horizontal" id="avatar_form" action="{% url 'edit_profile' %}?method=changeAvatar"
                      method="POST"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <img src="{{ user.avatar }}" id="avatar" class="avatar img-circle img-thumbnail" alt="avatar">
                    <div class="custom-file w-100 mt-2" lang="fa">
                        <input type="file" id="file" name="file" class="custom-file-input" accept="image/*">
                        <label class="custom-file-label text-left" for="file">روی آپلود کلیک کنید...</label>
                    </div>
                    <input type="submit" name="upload" class="btn btn-primary my-2" value="تغییر عکس پروفایل">
                    <hr>
                </form>
            </div>
            <!-- edit form column -->
            <div class="col-md-9 personal-info">
                {% if errors %}

                    <div class="alert alert-info alert-dismissable">
                        <a class="panel-close close" data-dismiss="alert">×</a>
                        <i class="fa fa-coffee"></i>
                        {# for test how error work send post with postman to this url #}

                        {% for key , value in errors.items %}
                            {% for error_message in value %}
                                <strong> {{ error_message }} </strong>
                            {% endfor %}
                        {% endfor %}
                        {% comment %}{% else %}
                    <strong>تمامی فیلد ها ضروری است و در صورت تغییر دادن چند مورد فقط آن موارد را تغییر دهید.</strong>{% endcomment %}


                    </div>
                {% endif %}
                <h4 class="vazir-medium">اطلاعات شخصی</h4>
                <hr>
                <div>
                    <p class="vazir-bold">
                        <img src="{% static "dashboard/images/icons/name.svg" %}" width="30" height="30">
                        نام و نام خانوادگی:
                        <span class="ml-1 vazir-medium">{{ user.first_name }}</span>
                    </p>
                    <p class="vazir-bold">
                        <img src="{% static "dashboard/images/icons/mobile-phone.svg" %}" width="30" height="30">
                        شماره تلفن:
                        <span class="ml-1 vazir-medium">{{ user.phone_number }}</span>
                    </p>
                    <p class="vazir-bold">
                        <img src="{% static "dashboard/images/icons/credit.svg" %}" width="30" height="30">
                        اعتبار:
                        <span class="ml-1 vazir-medium">{{ user.credit }} هزار تومان </span>
                        <span class="ml-2 vazir-medium small text-info">
                            <a id="checkout" href=""><i class="fas fa-question-circle"></i>
                            چی جوری نقدش کنیم ؟
                            </a>
                        </span>

                    </p>
                </div>
                <!-- Change Profile form -->
                <h4 class="vazir-medium"> تغییر پروفایل</h4>
                <hr>
                <form id="changeProfile" action="{% url 'edit_profile' %}" method="POST">
                    {% csrf_token %}
                    <div class="pl-2">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label class="control-label" for="firstName">نام</label>
                                <input class="form-control w-100" id="firstName" name="first_name" type="text"
                                       value="{{ user.first_name }}" maxlength="30" required>
                                <small id="firstNameAlert" class="form-text text-danger mt-1" style="display: none;">
                                    <i class="fas fa-exclamation-triangle"></i>
                                    تنها حروف فارسی مجاز است.
                                </small>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label" for="lastName">نام خانوادگی</label>
                                <input class="form-control w-100" id="lastName" name="last_name" type="text"
                                       value="{{ user.last_name }}" maxlength="30" required>
                                <small id="lastNameAlert" class="form-text text-danger mt-1" style="display: none;">
                                    <i class="fas fa-exclamation-triangle"></i>
                                    تنها حروف فارسی مجاز است.
                                </small>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label" for="username">نام کاربری</label>
                            <div class="input-group mb-2 username-field">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">@</div>
                                </div>
                                <input type="text" class="form-control" id="username" name="username"
                                       value="{{ user.username |default_if_none:'' }}">
                            </div>
                            <small id="usernameAlert" class="form-text text-danger mt-1" style="display: none;">
                                <i class="fas fa-exclamation-triangle"></i>
                                نام کاربری تنها باید شامل حروف و اعداد انگلیسی باشد.
                            </small>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="nationalCode">کد ملی</label>
                            <input class="form-control national-code" type="text" id="nationalCode" name="national_code"
                                   value="{{ user.national_code |default_if_none:'' }}" maxlength="10">
                            <small id="nationalCodeAlert" class="form-text text-danger mt-1" style="display: none;">
                                <i class="fas fa-exclamation-triangle"></i>
                                کد ملی وارد شده معتبر نمی باشد.
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="gender" class="control-label">جنسیت</label>
                            <div class="col-lg-8">
                                <select id="gender" name="gender" class="custom-select w-25 ml-n3 text-center" size="2"
                                        required>
                                    <option value="True" {% ifequal user.gender True %}
                                            selected="selected" {% endifequal %}>
                                        پسر
                                    </option>
                                    <option value="False" {% ifequal user.gender False %}
                                            selected="selected" {% endifequal %}>
                                        دختر
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="city" class="control-label">شهر</label>
                            <div class="col-lg-8">
                                <div class="ui-select">
                                    <select id="city" name="city" class="custom-select w-50 ml-n3 text-center" size="3"
                                            required>
                                        {% for element in cities %}
                                            <option value="{{ element.id }}" {% ifequal user.cityTitle element.title %}
                                                    selected="selected" {% endifequal %}>{{ element.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="grades" class="control-label">پایه تحصیلی</label>
                            <div class="col-md-8">
                                <select id="grades[0]" name="grades[0]" class="custom-select ml-n3 text-center w-50"
                                        required
                                        size="3">
                                    {% for element in grades %}
                                        <option value="{{ element.id }}" {% ifequal user.grade element.title %} selected
                                        {% endifequal %}>{{ element.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label"></label>
                            <input type="submit" id="edit_profile" class="btn btn-primary mt-2" value="تغییر پروفایل">
                        </div>
                    </div>
                </form>
                <!-- Change password form -->
                <h4 class="vazir-medium">تغییر رمز عبور</h4>
                <hr>
                <form action="{% url 'edit_profile' %}?method=changePassword" id="changePassword" method="POST">
                    {% if 'new_login' in request.session %}
                        <div class="alert alert-info alert-dismissable">
                            <a class="panel-close close" data-dismiss="alert">×</a>
                            <i class="fa fa-coffee"></i>
                            <strong>لطفا رمز عبور خود را تغییر دهید</strong>
                        </div>
                    {% endif %}
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-md-8">
                            <input class="form-control w-75" type="password" id="oldPassword" name="old_password"
                                   placeholder="رمز عبور خود را وارد کنید" maxlength="12" required>
                            <input class="form-control mt-2 w-75" type="password" id="newPassword" name="password"
                                   placeholder="رمز عبور جدید خود را وارد کنید" maxlength="12" required>
                            <input class="form-control mt-2 w-75" type="password" id="conformPassword" name="password2"
                                   placeholder="رمز عبور جدید را دوباره وارد کنید" maxlength="12" required>
                            <small id="change-password-alert" class="form-text text-danger" style="display: none;">
                                <i class="fas fa-exclamation-triangle"></i>
                                اخطار: تکرار رمز عبور صحیح نمی باشد.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8">
                            <input type="submit" name="changePassword" id="changePassword" class="btn btn-primary"
                                   value="تغییر رمز عبور">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal" id="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger" style="font-family: 'Vazir_Bold';">خطا در آپلود عکس</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <strong>
                        <p id="modal-body"></p>
                    </strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger text-center w-100" data-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

<!-- JS files -->
{% block JSfile %}
    <!-- base validation js -->
    <script src="{% static 'dashboard/js/validation-base.js' %}"></script>
    <script src="{% static 'dashboard/js/edit_profile.js' %}"></script>
{% endblock %}