{% extends 'dashboard/base.html' %}
{% load static %}
<!-- Title block of base.html -->
{% block title %}پروفایل{% endblock %}

<!-- CSS files -->
{% block CSSfiles %}
{% endblock %}

<!-- Content of page -->
{% block content %}
<div class="container">
    <h1>پروفایل</h1>
    <hr>
    <!-- Change avatar form & enctype requried for file input -->
    <form class="form-horizontal" action="{% url 'change_avatar' %}" method="POST" enctype="multipart/form-data">
        <div class="row">
            <!-- right column -->
            <div class="col-md-3">
                {% csrf_token %}
                <div class="text-center">
                    <img src="{{ user.avatar.url }}" id="avatar" class="avatar img-circle img-thumbnail" alt="avatar">
                    <input type="file" id="file" name="file" class="text-center center-block file-upload"
                        accept="image/*">
                </div>
                <div class="col-md-8">
                    <input type="submit" name="upload" class="btn btn-primary" value="آپلود">
                </div>
                <hr><br>
            </div>
    </form>


    <!-- edit form column -->
    <div class="col-md-9 personal-info">
        <div class="alert alert-info alert-dismissable">
            <a class="panel-close close" data-dismiss="alert">×</a>
            <i class="fa fa-coffee"></i>
            {% if error %}
            <strong>{{ error }}</strong>
            {% else %}
            <strong>تمامی فیلد ها ضروری است و در صورت تغییر دادن چند مورد فقط آن را تغییر دهید.</strong>
            {% endif %}
        </div>
        <h3>اطلاعات شخصی</h3>
        <!-- Change Profile form -->
        <form action="{% url 'change_profile' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-lg-3 control-label">نام</label>
                <div class="col-lg-8">
                    <input class="form-control w-25" name="first_name" type="text" value="{{ user.first_name }}"
                        maxlength="30" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">نام خانوادگی</label>
                <div class="col-lg-8">
                    <input class="form-control w-50" name="last_name" type="text" value="{{ user.last_name }}"
                        maxlength="30" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">کد ملی</label>
                <div class="col-lg-8">
                    <input class="form-control w-50" type="text" name="national_code"
                        value="{{ user.national_code |default_if_none:'' }}" maxlength="10" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">جنسیت</label>
                <div class="col-lg-8">
                    <select id="gender" name="gender" class="custom-select w-25 text-center" size="2" required>
                        <option value="True">پسر</option>
                        <option value="False" {% ifequal user.gender False %} selected="selected" {% endifequal %}>
                            دختر
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="city" class="col-lg-3 control-label">شهر</label>
                <div class="col-lg-8">
                    <div class="ui-select">
                        <select id="city" name="city" class="custom-select w-50 text-center" size="3" required>
                            {% for element in form.fields.city.queryset %}
                            <option value="{{ element.id }}" {% ifequal user.city.id element.id %} selected="selected"
                                {% endifequal %}>{{ element.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">آدرس</label>
                <div class="col-md-8">
                    <input class="form-control" type="text" name="address"
                        value="{{ user.address|default_if_none:''  }}" maxlength="255" required>
                </div>
            </div>
            <div class="form-group">
                <label for="grades" class="col-md-3 control-label">پایه تحصیلی</label>
                <div class="col-md-8">
                    <select id="grades" name="grades" class="custom-select w-25 text-center" required size="3">
                        {% for element in form.fields.grades.queryset %}
                        <option value="{{ element.id }}" {% ifequal user.grades.first.id element.id %} selected
                            {% endifequal %}>{{ element.title }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" required>شماره تلفن</label>
                <div class="col-md-8">
                    <input class="form-control w-50" type="text" name="phone_number" value="{{ user.phone_number }}"
                        maxlength="12" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-8">
                    <input type="submit" id="edit_profile" class="btn btn-primary" value="ثبت">
                    <span></span>
                    <input type="reset" class="btn btn-default" value="ریست">
                </div>
        </form>
        <hr>
        <!-- Change password form -->
        <form action="{% url 'change_password' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-md-3 control-label" required>تغییر رمز عبور</label>
                <div class="col-md-8">
                    <input class="form-control w-75" type="password" name="old_password"
                        placeholder="رمز عبور خود را وارد کنید" maxlength="12" required>
                    <input class="form-control mt-2 w-75" type="password" id="password" name="password"
                        placeholder="رمز عبور جدید خود را وارد کنید" maxlength="12" required>
                    <input class="form-control mt-2 w-75" type="password" id="password2" name="password2"
                        placeholder="رمز عبور جدید را دوباره وارد کنید" maxlength="12" required>
                </div>
                <p id="password_message" style="color: #7c0001"></p>

            </div>
            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-8">
                    <input type="submit" name="changePassword" id="changePassword" class="btn btn-primary"
                        value="تغییر رمز عبور">
                    <span></span>
                </div>
            </div>
        </form>
    </div>
</div>
</div>

{% endblock %}

<!-- JS files -->
{% block JSfile %}
<script src="{% static 'dashboard/js/edit_profile.js' %}"></script>
<!-- Choicen jQuery JS -->
<script src="{% static 'home/chosen/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'home/chosen/js/chosen.jquery.min.js' %}"></script>
<!-- Bootstrap Javascript -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
{% endblock %}