{% extends 'dashboard/base.html' %}
{% load static %}

<!-- Title block of base.html -->
{% block title %}سبد خرید{% endblock %}

<!-- CSS files -->
{% block CSSfiles %}
<link rel="stylesheet" href="{% static 'dashboard/css/shopping.css' %}">
{% endblock %}

<!-- Active menu of sidebar -->
{% block shopping_active %}active-menu{% endblock %}

<!-- Content of page -->
{% block content %}
<section class="shopping">
    <!-- Shopping content-->
    <div class="shopping-content">
        <!-- Shopping title -->
        <div class="shopping-title">
            <h1>
                دوره های تابش
            </h1>
        </div>
        <!-- Cart Section use cart-list for shopping.js -->
        <div class="cart-list card-section">
            <!-- Cart title -->
            <div class="cart-title">
                <h4>
                    <img src="{% static 'home/images/icons/shopping-basket.svg'%}">
                    سبد خرید
                </h4>
            </div>
            <!-- Cart items add with shopping.js -->
            <!-- End cart items -->
        </div>
        <!-- Cart footer section -->
        <div class="card cart-footer">
            <!-- Cart purchase button -->
            <div>
                <button href="#" class="btn">پرداخت</button>
            </div>
            <div class="cart-total-price">
                مبلغ قابل پرداخت : <b class="total-price">0</b> تومان
            </div>
        </div>
    </div>
    <hr>
    <!-- Shopping cards - include Courses & Search section -->
    <div class="shopping-cards">
        <!-- Shopping search title -->
        <div class="shopping-search-title">
            <h1>
                <img src="{% static 'home/images/icons/search.svg' %}">
                جستجوی دروس
            </h1>
        </div>
        <!-- Search form -->
        <form action="{% url 'shopping' %}">
            <div class="row form-search">
                <!-- Select Grade -->
                <div class="col-md-3">
                    <select class="custom-select" name="grade">
                        <option selected disabled>پایه</option>
                        {% for grade in grades %}
                        <option value="{{ grade.id }}">{{ grade.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- Select Lessons -->
                <div class="col-md-3 ">
                    <select class="custom-select" name="lesson">
                        <option selected disabled>دروس</option>
                        {% for lesson in lessons %}
                        <option value="{{ lesson.id }}">{{ lesson.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- Select teachers -->
                <div class="col-md-3 ">
                    <select class="custom-select" name="teacher">
                        <option selected disabled>استاد</option>
                        {% for teacher in teachers %}
                        <option value="{{ teacher.id }}">{{ teacher.get_full_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- Search Button -->
                <div class="col-md-3">
                    <input type="submit" class="form-control" value="جستجو">
                </div>
            </div>
        </form>

        <!-- Shopping Cards -->
        <div class="row">
            <!-- Loop for courses -->
            {% for course in courses %}
            <div class="col-md-4">
                <div class="card course-card">
                    <!-- Course poster -->
                    <img class="card-img-top" src="{{ course.image.url }}">
                    <!-- Course content -->
                    <div class="card-block">
                        <!-- Course teacher profile  -->
                        <figure class="teacher-profile">
                            <img src="{{ course.teacher.avatar.url }}" class="profile-avatar"
                                alt="course teacher profile">
                        </figure>
                        <!-- Course title  -->
                        <h4 class="title mt-3">{{ course.title }}</h4>
                        <!-- Course teacher name  -->
                        <div class="course-teacher-name">
                            <h6 class="teacher-name">{{ course.teacher.get_full_name }}</h6>
                        </div>
                        <!-- Course calender  -->
                        <div class="course-calender">
                            <p>
                                <img src="{% static 'home/images/icons/clock.svg'%}" alt="">
                                جلسات:
                            </p>
                            <!-- Loop for course calender times -->
                            {% for number in '12'|make_list %}
                            <p class="course-calender-time">
                                <img src="{% static 'home/images/icons/add-time.svg'%}" alt="">
                                دوشنبه ساعت 13
                            </p>
                            {% endfor %}
                        </div>
                        <!-- Start of the course  -->
                        <div class="course-start-date">
                            <p>
                                <img src="{% static 'home/images/icons/start-date.svg'%}" alt="">
                                شروع دوره:
                                <span>سه شنبه 14 فروردین</span>
                            </p>
                        </div>
                        <!-- End of the course  -->
                        <div class="course-end-date">
                            <p>
                                <img src="{% static 'home/images/icons/end-date.svg'%}" alt="">
                                اتمام دوره:
                                <span>سه شنبه 14 اردیبهشت</span>
                            </p>
                        </div>
                        <!-- Description of the course  -->
                        <div class="course-description">
                            <p class="course-description-title">
                                <img src="{% static 'home/images/icons/paragraph.svg'%}" alt="">
                                توضیحات:
                            </p>
                            <p class="course-description-p">
                                در این دوره مبحث الکترومغناطیس به طور کامل پوشش داده شده و شما را برای صد زدن در کنکور
                                آماده می
                                کند
                            </p>
                        </div>
                        <!-- Course price -->
                        <div class="course-price">
                            <p>
                                <img src="{% static 'home/images/icons/price.svg'%}" alt="">
                                قیمت:
                                <span class="price">100000</span>
                                <span class="currency">تومان</span>
                            </p>
                        </div>
                    </div>
                    <!-- Button add course to cart -->
                    <div class="card-footer add-to-cart">
                        <button class="btn btn-success add-to-cart-button">
                            <img src="{% static 'home/images/icons/add-to-cart.svg'%}" alt="button link to class">
                            اضافه به سبد خرید
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

<!-- JS files -->
{% block JSfile %}
<script src="{% static 'dashboard/js/shopping.js' %}"></script>
{% endblock %}