{% extends 'dashboard/base.html' %}
{% load static %}
{% load jformat %}
{% load pay_enums %}
<!-- Title block of base.html -->
{% block title %}سبد خرید{% endblock %}

<!-- CSS files -->
{% block CSSfiles %}
    <link rel="stylesheet" href="{% static 'dashboard/css/shopping_cart.css' %}">
{% endblock %}

<!-- Content of page -->
{% block content %}
    <section class="shopping-cart">
        <!-- Cart Section use cart-list for shopping.js -->
        <div class="cart-list card-section">
            <!-- first buy event -->
            {% if 'event_discount' in request.session %}
                <div class="alert alert-info alert-dismissable">
                    <a class="panel-close close" data-dismiss="alert">×</a>
                    <i class="fas fa-percentage ml-1"></i>
                    <strong>
                        تبریک !
                        برای اولین خرید خود
                        10
                        درصد تخفیف دارید.
                        پس از انتخاب دروس مورد نظر بر روی دکمه اعمال تخفیف کلیک کنید.
                    </strong>
                </div>
            {% endif %}
            <div class="cart-title">
                <h4>
                    <img src="{% static 'home/images/icons/shopping-basket.svg' %}">
                    سبد خرید
                </h4>
            </div>
            <!-- cart items buy user -->
            <div id="cartListItems"></div>

            <div class="card cart-footer">
                <!-- Cart purchase button -->
                <form id="shopping-cart-form" action="{% url 'payment_request' %}" method="post">
                    {% csrf_token %}
                    <!-- Total cart items id and price for pass to back-end -->
                    <input id="totalId" type="hidden" name="total_id" value="">
                    <input id="totalPrice" type="hidden" name="total_pr" value="">
                    <div class="cart-total-price row px-2">
                        <div class="col-md-8 d-flex text-sm-center align-items-center mb-2 discount">
                            <!-- compute discount -->
                            <label class="mb-0 text-nowrap" for="discountCode">کد تخفیف:</label>
                            <input type="text" class="form-control mx-2 w-25" id="discountCode" name="code"
                                   {% if 'event_discount' in request.session %}value="{{ request.user.phone_number }}"
                                   readonly{% endif %}>
                            <button type="button" class="btn btn-info mr-auto text-white" id="discountButton">
                                اعمال کد تخفیف
                            </button>
                        </div>
                        <div class="col-md-4 text-sm-center mb-3">
                            <p class="mb-0 text-md-right">
                                مبلغ قابل پرداخت : <b class="total-price">0</b> تومان
                            </p>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-success" id="payButton" value="پرداخت">
                </form>
            </div>
        </div>

        <!-- Modal error for duplicate course in cart -->
        <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="duplicateModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title text-danger h5"
                            style="font-family: 'Vazir_Bold';">
                            مشکل
                            در خرید دوره</h1>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <strong>
                            <p class="modal-body-p"></p>
                        </strong>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger w-100" data-dismiss="modal">فهمیدم!</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal discount success -->
        <div class="modal fade" id="discountModal" tabindex="-1" role="dialog"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center discount-modal">
                        <img src="{% static "dashboard/images/icons/discount.svg" %}" width="120px" height="120px">
                        <p class="mt-3">
                            تخفیف با موفقیت اعمال شد
                        </p>
                        <p>
                            به خاطرش
                            <span id="profitPrice"></span>
                            تومن سود کردی :)
                        </p>
                        <p>
                            مبلغ قابل پرداخت:
                            <span id="discountPrice"></span>
                            تومان
                        </p>
                    </div>
                    <div class="modal-footer flex-column justify-content-center">
                        <button id="modalDiscountButton" type="button" class="btn button-purchase w-50 mb-2"
                                data-dismiss="modal">بریم پرداختش کنیم
                        </button>
                        <button id="discountRefreshButton" type="button" class="btn btn-remove w-25"
                                data-dismiss="modal">
                            ريست تخفيف
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

<!-- JS files -->
{% block JSfile %}
    <!-- base validation js -->
    <script src="{% static 'dashboard/js/validation-base.js' %}"></script>
    <script src="{% static "dashboard/js/shopping-cart.js" %}"></script>
    <script src="{% static 'dashboard/js/shopping.js' %}"></script>
    <!-- persian date formatter -- hint: read doc: https://github.com/babakhani/PersianDate -->
    <script src="{% static "home/js/persian-date.min.js" %}"></script>
{% endblock %}