{% extends 'dashboard/base.html' %}
{% load static %}
{% load jformat %}
<!-- title of teacher course panel -->
{% block title %} پنل کلاس{% endblock %}

<!-- cSS files -->
{% block CSSfiles %}
    <!-- DropZone JS files -->
    <link rel="stylesheet" href="{% static 'home/css/drag-upload.css' %}">
    <!-- add css files here -->
    <link rel="stylesheet" href="{% static 'dashboard/css/student_course_panel.css' %}">
    <!-- file manager css -->
    <link rel="stylesheet" href="{% static 'dashboard/css/filemanager.css' %}">
{% endblock %}

<!-- content of page -->
{% block content %}
    <div class="container w-100">
        <!-- tabs button -->
        <div class="tab vazir-bold">
            <button class="tab-link active" data-content="#fileManager">جزوه ها</button>
{#            <button class="tab-link" data-content="#payments">پرداختی ها</button>#}
        </div>
        <hr class="mt-0" style="height: 2px; background-color: #00204E">
        <!-- file manager tab -->
        <div id="fileManager" class="tab-content active">
        </div>


{#        <!-- payments tab -->#}
{#        <div id="payments" class="tab-content">#}
{#        </div>#}


    </div>

    <input id="courseCode" value="{{ code }}" hidden>

{% endblock %}

<!-- JS files -->
{% block JSfile %}
    <!-- persian date formatter -- hint: read doc: https://github.com/babakhani/PersianDate -->
    <script src="{% static "home/js/persian-date.min.js" %}"></script>
    <!-- file manager component -->
    <script src="{% static "dashboard/js/student-course-panel/file-manager-component.js" %}"></script>
    <!-- payments component -->
{#    <script src="{% static "dashboard/js/student-course-panel/payments-component.js" %}"></script>#}
    <!-- config js files here -->
    <script src="{% static "dashboard/js/student-course-panel/config.js" %}"></script>
{% endblock %}
