{% extends 'dashboard/base.html' %}
{% load static %}
{% load jformat %}

<!-- Title block of base.html -->
{% block title %}پرداخت موفق{% endblock %}

<!-- CSS files -->
{% block CSSfiles %}
<link rel="stylesheet" href="{% static 'dashboard/css/shopping.css' %}">
{% endblock %}

<!-- Active menu of sidebar -->
{% block shopping_active %}active-menu{% endblock %}

<!-- Content of page -->
{% block content %}
<div class="container w-100 p-1 text-center" style="font-family: 'Vazir_Bold';">
    <div class="col-md-12 mt-3 mb-3">
        <img class="m-auto" src="{% static 'home/images/icons/sucess.svg'%}" width="100" height="100">
    </div>
    <div class="col-md-12">
        <p class="text-center" style="font-size: 25px;">پرداخت با موفقیت انجام شد.</p>
    </div>
    <div class="col-md-12">
        <p class="mt-2 text-center" style="font-family: 'Vazir_Light'; font-size: 20px;">
            {% if RefID %}
                شناسه ارجاع :
                {{ RefID }}
            {% endif %}
        </p>
        <p class="mt-2 text-center" style="font-family: 'Vazir_Light'; font-size: 20px;">
            برای مشاهده دروس خریداری شده به بخش دروس من مراجعه کنید
        </p>
        <a class="btn btn-dark text-white m-1 ml-4" href="{% url 'lessons' %}">ورود به دروس من</a>
    </div>
</div>
{% endblock %}

<!-- JS files -->
{% block JSfile %}
<script src="{% static 'dashboard/js/shopping.js' %}"></script>
{% endblock %}